@use '../../../../assets/styles/mixins' as m;

.container {
  @include m.card-grid-layout;
}

@include m.card-visual-style;

.cards:nth-child(1) {
  background-color: var(--card3-color);
}

.cards:nth-child(2) {
  background-color: var(--card2-color);
}

.cards:nth-child(3) {
  background-color: var(--bg-surface);
}

.deck-cards:hover .cards:hover {
  cursor: pointer;
}

.deck-cards:hover .cards:nth-child(1) {
  transform: rotate(7deg);
}

.deck-cards:hover .cards:nth-child(2) {
  transform: rotate(4deg);
}

.deck-cards:hover .cards:nth-child(1):hover {
  transform: rotate(8deg) translateY(-5px);
}

.deck-cards:hover .cards:nth-child(2):hover {
  transform: rotate(5deg) translateY(-5px);
}

.deck-cards:hover .cards:nth-child(3):hover {
  transform: translateY(-8px);
}

.deck-details {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: left;
}

.deck-details .deck-title {
  color: var(--text-body);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;

  width: 100%;
  box-sizing: border-box;

  line-height: 1.2em;
  height: 3.7em;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--primary);

  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  overflow: hidden;
}

.deck-details .deck-description {
  color: var(--text-body);

  font-size: 1rem;

  text-overflow: ellipsis;

  word-break: break-word;
  line-height: 1;
  line-clamp: 7;
  -webkit-line-clamp: 7;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  overflow: hidden;
}

.deck-loading {
  width: 315px;
  height: 480px;
  min-width: 210px;
  min-height: 320px;
  position: relative;

  .cards:nth-child(1) {
    animation: cardLift1 1.5s ease-in-out infinite;
  }

  .cards:nth-child(2) {
    animation: cardLift2 1.5s ease-in-out infinite;
  }

  .cards:nth-child(3) {
    animation: cardLift3 1.5s ease-in-out infinite;
  }

  .cards {
    .deck-details {
      margin-top: 40%;
      align-items: center;
    }
  }

  .cards:nth-child(1) {
    background-color: var(--card3-color);
  }
  .cards:nth-child(2) {
    background-color: var(--card2-color);
  }
  .cards:nth-child(3) {
    background-color: var(--bg-surface);
  }

  &.is-error {
    .cards {
      animation: none !important;
    }
    .cards:nth-child(3) {
      background-color: #56222273;
      border: 1px solid var(--error);
    }

    .text-error {
      color: var(--text-body);
      margin-bottom: 0.5rem;
    }
  }
}

@keyframes cardLift1 {
  0%,
  66% {
    transform: rotate(7deg) translate(6px, -2px);
    background-color: var(--card3-color);
  }
  83% {
    transform: rotate(7deg) translate(6px, -10px);
    background-color: var(--card2-color);
  }
  100% {
    transform: rotate(7deg) translate(6px, -2px);
    background-color: var(--card3-color);
  }
}

@keyframes cardLift2 {
  0%,
  33% {
    transform: rotate(4deg) translate(3px, -1px);
    background-color: var(--card2-color);
  }
  50% {
    transform: rotate(4deg) translate(3px, -9px);
    background-color: var(--bg-surface);
  }
  66% {
    transform: rotate(4deg) translate(3px, -1px);
    background-color: var(--card2-color);
  }
  100% {
    transform: rotate(4deg) translate(3px, -1px);
    background-color: var(--card2-color);
  }
}

@keyframes cardLift3 {
  0% {
    transform: translateY(0);
    background-color: var(--bg-surface);
  }
  16% {
    transform: translateY(-8px);
    background-color: var(--card3-color);
  }
  33% {
    transform: translateY(0);
    background-color: var(--bg-surface);
  }
  100% {
    transform: translateY(0);
    background-color: var(--bg-surface);
  }
}

.loading-wrapper {
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
}
