<button routerLink="/decks" class="bg-blue-400 text-black">My decks</button>
<div class="container">
  @if (cards$ | async; as cards){ @for (card of cards; track card.id) {
  <div class="">
    <div class="deck-cards">
      <div class="cards"></div>
      <div class="cards"></div>

      <div class="cards">
        <div class="deck-details">
          <h2 class="deck-title">{{ card.frontText }}</h2>
        </div>
      </div>
    </div>
  </div>

  } @if (cards.length === 0){
  <h3 class="">No card created</h3>
  <p class="">Start creating a new card.</p>
  } }
</div>
