/* You can add global styles to this file, and also import other style files */

@import url('./assets/styles/_variables.scss');

html,
body {
  background-color: var(--bg-default);
  color: var(--text-body);
  transition: background-color 0.3s, color 0.3s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
