/* You can add global styles to this file, and also import other style files */

@use 'assets/styles/variables.scss';
@use 'assets/styles/buttons';

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html,
body {
  background-color: var(--bg-default);
  color: var(--text-body);
  transition:
    background-color 0.3s,
    color 0.3s;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalScaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
