.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  appearance: none;

  background-color: var(--primary);
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.2s ease-in-out,
    transform 0.1s;

  &:hover {
    background-color: var(--primary-dark);
  }

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
  }

  .spinner {
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
    flex-shrink: 0;
  }
}

.btn-cancel {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  background-color: var(--global-gray-500);
  border: 1px solid transparent;

  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--global-gray-600);
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.btn-danger {
  @extend .btn-primary;

  background-color: var(--error);

  &:hover {
    background-color: #b91c1c;
    box-shadow: 0 4px 6px rgba(220, 38, 38, 0.2);
  }

  &:active {
    background-color: #991b1b;
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(220, 38, 38, 0.4);
  }
}

.btn-ghost {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: 1px solid transparent;
  color: var(--text-body);

  font-family: inherit;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;

  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--global-gray-500);
    color: var(--text-body);
  }

  &:active {
    transform: translateY(1px);
    background-color: var(--global-gray-300);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: transparent;
  }
}
